MusClient/Connected Services/ServiceMusReference/MusService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MusWinService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MusWinService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MusData">
    <xs:sequence>
      <xs:element minOccurs="0" name="MusTeams" nillable="true" type="tns:ArrayOfMusTeamData" />
      <xs:element minOccurs="0" name="PointsToWin" type="xs:long" />
      <xs:element minOccurs="0" name="Round" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MusData" nillable="true" type="tns:MusData" />
  <xs:complexType name="ArrayOfMusTeamData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MusTeamData" nillable="true" type="tns:MusTeamData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMusTeamData" nillable="true" type="tns:ArrayOfMusTeamData" />
  <xs:complexType name="MusTeamData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Points" type="xs:int" />
      <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MusTeamData" nillable="true" type="tns:MusTeamData" />
</xs:schema>