MusClient/Connected Services/ServiceMusReference/MusService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/MusService/MusService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8000/MusService/MusService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MusWinService" />
  <xs:import schemaLocation="http://localhost:8000/MusService/MusService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MusCommon.Enums" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gameName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectedUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectedUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetConnectedUsersResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="users" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTeamResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pointsToWin" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartGameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMusDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MusWinService" minOccurs="0" name="GetMusDataResult" nillable="true" type="q3:MusData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MusCommon.Enums" minOccurs="0" name="GetCardsResult" nillable="true" type="q4:ArrayOfMusCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MusCommon.Enums" minOccurs="0" name="discarded" nillable="true" type="q5:ArrayOfMusCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MusCommon.Enums" minOccurs="0" name="ChangeCardsResult" nillable="true" type="q6:ArrayOfMusCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="points" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePointsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeGamePoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gamePoints" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeGamePointsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetRound">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetRoundResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NextRound">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="round" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NextRoundResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraces">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTracesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTracesResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserCards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserCardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MusWinService" minOccurs="0" name="GetAllUserCardsResult" nillable="true" type="q8:MusData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newHandUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeHandResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestShowCards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="round" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestShowCardsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>